@font-face{
    font-family: HelveticaNeueThin;
    src: url('/css/fonts/HelveticaNeueThin.ttf') format('truetype'),
    url('/css/fonts/HelveticaNeueThin.otf') format('otf'),
    url('/css/fonts/HelveticaNeueThin.eot') format('eot'),
    url('/css/fonts/HelveticaNeueThin.woff') format('woff');
}
@font-face{
    font-family: HelveticaNeueThin;
    src: url('/css/fonts/HelveticaNeueMedium.ttf') format('truetype'),
    url('/css/fonts/HelveticaNeueMedium.otf') format('otf'),
    url('/css/fonts/HelveticaNeueMedium.eot') format('eot'),
    url('/css/fonts/HelveticaNeueMedium.woff') format('woff');
    font-weight: bold;
}
body{
    background-image: url("/css/emptyClassroom.jpg");
}
div.blue {
    background-color: #88AAFF;
    font-family: "HelveticaNeueThin";
    color: #DDD
}
div.purple {
    background-color: #9955FF;
    font-family: "HelveticaNeueThin";
    color: #DDD
}
h1.main{
    font-size: 4.5em;
}
div.white {
    background-color:#DDD;
    font-family:"HelveticaNeueThin";
    color: #333;
}
div.fullheight {
    height: 100vh;
}